.contact {
  flex-grow: 1;
}

.contact h1 {
  margin-bottom: 20px;
  background-color: aquamarine;
  width: 204px;
  font-size: 30px;
}
.contact p {
  font-size: 25px;
}
.contact h4 {
  font-size: 30px;
  color: ivory;
}
